asn1crypto==1.5.1
distro==1.9.0
html5lib-modern==1.2
mechanize==0.4.10
netifaces==0.11.0
packaging==25.0
pexpect==4.9.0
psutil==7.1.0
ptyprocess==0.7.0
urllib3==2.5.0
webencodings==0.5.1
wheel==0.46.1
