asn1crypto==1.5.1
dasbus==1.7
dbus-python==1.4.0
distro==1.9.0
html5lib-modern==1.2
kali-tweaks==2025.4.0
lightdm-gtk-greeter-settings==1.2.3
louis==3.35.0
mechanize==0.4.10
netifaces==0.11.0
onboard==1.4.1
packaging==25.0
pexpect==4.9.0
psutil==7.1.0
ptyprocess==0.7.0
pycairo==1.27.0
PyGObject==3.54.5
python-apt==3.0.0
pyxdg==0.28
setproctitle==1.3.7
urllib3==2.5.0
webencodings==0.5.1
wheel==0.46.1
xdg==5
